MONGO_URI=

JWT_SECRET=4

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GOOGLE_REFRESH_TOKEN=

REDIS_HOST=mint-cowbird-158414.upstash.io
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_TLS=true
JWT_ACCESS_SECRET=


JWT_REFRESH_SECRET=

GEMINI_API_KEY=
